<h1>Listing Trips</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Source</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.time %></td>
        <td><%= trip.source %></td>
        <td><%= trip.destination %></td>
        <td><%= link_to 'show', trip , {id: 'popup_button', class: 'fa fa-plus mr-5', remote: true, 'data-toggle' => "modal", 'data-target' => "#splash"} %></td>
        <% if can? :edt, trip %>
            <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
            <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>

<%= render 'popup' %>